body {
  width: 50%;
  height: 50%;
  position: absolute;
  /* background: #000000; */
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

canvas {
    width: 700px !important;
    height: 400px !important;
}